.funccomp button {
    font-size: 2rem;
    margin: 1rem;
    border-radius: 10px;
    padding:1rem;
    background-color: palevioletred;
    }
    
    .funccomp button:hover {
        color:white;
        }
        
        .funccomp h1 {
            
            color:purple;
            
            }
    
    .funccomp h2 {
        font-size: 4rem;
        color:darkviolet;
        
        
    }